@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Michroma&family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Michroma&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=MedievalSharp&family=Michroma&family=Outfit:wght@100..900&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=MedievalSharp&family=Michroma&family=Outfit:wght@100..900&family=Pirata+One&family=Uncial+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=MedievalSharp&family=Michroma&family=Outfit:wght@100..900&family=Pirata+One&family=Uncial+Antiqua&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Google Sans Code", monospace;
}

* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

body {
  background-color: #171717;
  font-family: "Google Sans Code", monospace;
}